:root {
    --box_background_color: #171376;
    --box_text_color: #a8eeff;
    --header_background: rgb(74, 70, 89);
    --border_width: .2rem;
    --content_border_color: #000;
}



.header_layout {
    display: flex;
    flex-wrap:  wrap;
    flex-direction: row;
    justify-content:space-between;
}

.nav_layout {
        display: flex;
        width:50%;
}

/* target the list items that are the 
direct child of a navlist */
.nav_list > li {
    display:flex;
    flex: 1 0 3%;
    flex-direction: row-reverse;
    /*align-items: center moves the items 
    vertically and places them where they are
    centered with the title*/
    align-items: center;
    /* align-content: center; */
    margin: 1%;
    /*this justify-content: center moves the 
    items contained by the container so they
    are centered inside of teh container*/
    justify-content: center;
}

#title {
    justify-content: flex-end;
    align-content:center;
    padding: 1%;
    padding-left:5%;
    text-align: right;
    white-space: nowrap;
}



.heading
{
    width: 200px;
    text-align: right;
    padding: 20px;
    height: 100%;
}


.contact {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-content: center;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding:1% 0 ;
}

.content_section {
    display: flex;
    flex: 1 0 200px;
    flex-direction: row;
    padding:1% 0 ;
}

.content_section p {
    width: auto;
}

.content_heading_layout
{
    margin-right: 1%;
}



/*class to target the header nav list */
.nav_list {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

a {
    white-space: nowrap;
    padding: 0 .4rem;
}

.header_img_layout > img {
    width:100%;
    /*https://developer.mozilla.org/en-US/docs/Web/CSS/length*/
    /* the vw property is a percentage of the width so 10 vw is 10% of the width*/
    height: 20vw;
    object-fit:cover;
}

.work_showcase {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 50%;
}

.work_showcase:first-child {
    width: 100%;
}

.card {
    margin: 5px;
    object-fit: cover;
}

.card p {
    position: absolute;
    padding: 10px;
    background-color: var(--box_background_color);
    color: var(--box_text_color);
}

.card img {
    height: 20vw;
    object-fit:cover;
    height: 20vw;
}


/* start the styling of the header elements*/

nav a {
    border-bottom: var(--border_width) solid var(--box_text_color);
    text-decoration: none;;
}

nav a:visited {
    color: var(--box_text_color);
    text-decoration: none;
}

.contact p {
    border-bottom: var(--border_width) solid var(--content_border_color);
}

.header_style {
    background-color: var(--header_background);
}

.title_style {
    background-color: var(--box_background_color);
    color: var(--box_text_color);
}

.nav_list_styling > li{
    /*the list items wil not have a background*/
    /* background-color: var(--box_background_color); */
    color: var(--box_text_color);
}

.heading_styling {
    border-right: var(--border_width) solid var(--content_border_color);
}


@media screen and (max-width: 600px)
{
    .header_layout {
        flex-direction: column;
        align-content: center;
    }
    #title
    {
        width: 100%;
        text-align: center;
        margin-bottom: 0;
    }
    .nav_layout {
        width: 100%;
    }

    .heading_styling {
        border-right-width: 0;
        border-bottom: var(--border_width) solid var(--content_border_color);
    }

    .footer {
        flex-direction: column;
    }

    .content_section {
        flex-direction: column;
    }
}