.header_layout {
    display: flex;
    flex-wrap:  wrap;
    flex-direction: row;
    justify-content:space-between;
}

.nav_layout {
        display: flex;
        width:50%;
}

/* target the list items in the navlist */
.nav_list > li {
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
}

#title {
    justify-content: flex-end;
    align-content:center;
    margin-left:5%;
    text-align: right;
    white-space: nowrap;
}

/*class to target the header nav list */
.nav_list {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

a {
    white-space: nowrap;
}

@media screen and (max-width: 600px)
{
    .header_layout {
        flex-direction: column;
        align-content: center;
    }
    #title
    {
        width: 100%;
        text-align: center;;
    }
    .nav_layout {
        width: 100%;
    }

}